.Weather {
    background-color: #fff;
    font-family:Georgia, 'Times New Roman', Times, serif;
    border: 1px solid #dadde1;
    box-shadow: 1px 3px 15px #202040;
    padding: 20px;
    border-radius: 10px;
    margin-top: 80px;
}

.Weather h1 {
    color: #1d046b;
    font-size: 36px;
    font-weight: 600;
    margin: 20px 0 0 0;
    line-height: 34px;
    text-align: center;
    letter-spacing: 2px;
    padding: 5px;
}

.Weather ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 22px;
    list-style: none;
}

.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
}

.Weather canvas {
    margin: 10px auto;
}

.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
}

